
.navbar{
    font-family:serif;
height:5rem;
width:100%;
word-spacing: 2rem;
font-size: 2rem;
display: flex;
  align-items: center; 
  gap:0.3rem;
  background-color: white;
  position: fixed;
    top: 0%;
}
#logo{
    height:4.6875rem;
    width:5.625rem;
    padding-left:0.25rem;
}
.new{
    height:5rem;
width:auto;
display:flex;
align-items: center;
justify-content: center;
padding-left: 10rem;


}
.is{
     text-decoration: none; 
    color: green;
    text-align: center;  
    padding-left: 1.2rem;
}
.new3{
    display:flex;
    align-items:center;
    margin-left:35rem;
    gap: 2rem;
   
}
.new2{

    height: 3.5rem;
    width:3.5rem;
    margin-right: 15rem;
}
.multivideo{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    padding-top: 5%;
}
/* .video:nth-child(1) {
    z-index: -2;
  }
  .video:nth-child(2) {
    z-index: -1;
    mix-blend-mode: screen; 
  } */
  .tips{
    font-size: 2rem;
     position: relative;
     z-index: 1;
     line-height: 3rem;
     
     text-align: center;
     top: 20%;
     width: 100%;
     font-family: sans-serif;
  }